.kit-file-drop-target {
  border: 2px dashed var(--kit-shade-4);
  padding: 0.5rem;
  cursor: pointer;
  transition: var(--kit-transition);
}

.kit-file-drop-target:hover,
.kit-file-drop-target-accepting {
  box-shadow: var(--kit-shadow);
}
