._kit-select-button {
  padding-right: 0.5rem;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.5rem;
  border: 2px solid var(--kit-shade-3);
  border-radius: var(--kit-radius);
}

[kit-hidden-input-trap]:focus + ._kit-select-button,
._kit-select-button:focus-visible {
  border-color: var(--kit-foreground);
}
