.kit-fade-in {
  animation: soft-fade-in 0.3s ease forwards;
}

@keyframes soft-fade-in {
  0% {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

.kit-card-shadow {
  box-shadow: var(--kit-shadow);
}

::-webkit-scrollbar-thumb {
  background-color: var(--kit-scroll-thumb);
  border-radius: 5px;
  z-index: 10;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: var(--kit-background);
}
