.kit-button:focus,
.kit-button:hover .kit-spinner-container {
  --kit-shade-7: var(--kit-shade-4);
}

.kit-button-v-shadow {
  box-shadow: var(--kit-shadow);
}
.kit-button-v-shadow:not(.kit-button-secondary):hover,
.kit-button-v-shadow:not(.kit-button-secondary):focus {
  box-shadow: none;
}
.kit-button:not(.kit-button-custom):hover,
.kit-button:not(.kit-button-custom):focus {
  transform: translateY(-3px);
}
.kit-button:not(.kit-button-v-normal):not(.kit-button-secondary):not(.kit-button-custom):hover,
.kit-button:not(.kit-button-v-normal):not(.kit-button-secondary):not(.kit-button-custom):focus,
.kit-button-v-normal {
  background-color: var(--kit-foreground);
  color: var(--kit-background);
  --kit-border: var(--kit-background);
}
.kit-button-v-normal:hover,
.kit-button-v-normal:focus {
  background-color: var(--kit-background);
  color: var(--kit-foreground);
  --kit-border: var(--kit-foreground);
}
.kit-button-warning {
  --kit-background: var(--kit-warning);
  --kit-foreground: #fff;
  --kit-border: var(--kit-background);
}
.kit-button-alert {
  --kit-background: var(--kit-highlight-pink);
  --kit-foreground: #fff;
  --kit-border: var(--kit-background);
}

.kit-button-voilet {
  --kit-background: var(--kit-violet);
  --kit-foreground: #fff;
  --kit-border: var(--kit-background);
}
.kit-button-error {
  --kit-background: var(--kit-error);
  --kit-foreground: #fff;
  --kit-border: var(--kit-background);
}

.kit-button-secondary {
  --kit-border: var(--kit-shade-1);
}
.kit-button-success {
  --kit-foreground: #fff;
  --kit-background: var(--kit-success);
  --kit-border: var(--kit-background);
}
