.kit-fade-in {
  animation: soft-fade-in 0.3s ease forwards;
}

@keyframes soft-fade-in {
  0% {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

.kit-card-shadow {
  box-shadow: var(--kit-shadow);
}

.kit-spinner svg {
  animation: kit_rotate 1.5s linear infinite;
}

.kit-spinner circle {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: kit_dash 1.5s ease-in-out infinite 0s;
  stroke-linecap: round;
  fill: none;
  stroke-width: 3;
}

@keyframes kit_rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes kit_dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}
